<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Entry Judgement</title>
  <meta name="description" content="Rule: Close >= 5 days line & 5 days line > 25 days line">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <!-- ファビコンの設置例 -->
  <!-- <link rel="icon" href="favicon.ico"> -->
</head>
<body>
   <h1>Nikkei 225 Stock Entry Judgement</h1>
   <h5>Logic&nbsp;:&nbsp;5-day moving average => price & 5-day moving average > 25-day moving average then entry judgement is TRUE</h5>
   <ul>
    <li><a href="/toEntry">Stocks Entry Judgement is True（エントリ判断が真の株価）</a></li>
    <li><a href="/fharmaceutical">Pharmaceutical（医薬品）</a></li>
    <li><a href="/consumerCyclical">Consumer Cyclical（消費者循環・耐久財）</a></li>
    <li><a href="/gas">Gas（ガス）</a></li>
    <li><a href="/service">Service（サービス）</a></li>
    <li><a href="/rubber">Rubber（ゴム）</a></li>
    <li><a href="/otherFinancial">Other Financial （その他金融）</a></li>
    <li><a href="/otherManufacturing">Other Manufacturing（その他製造）</a></li>
    <li><a href="/pulpAndPaper">Pulp and Paper（パルプ・紙）</a></li>
    <li><a href="/chemistry">Chemistry（化学）</a></li>
    <li><a href="/marineTransportation">Marine Transportation（海運）</a></li>
    <li><a href="/machinery">Machinery（機械）</a></li>
    <li><a href="/bank">Bank（銀行）</a></li>
    <li><a href="/airTransportation">AirTransportation（空運）</a></li>
    <li><a href="/construction">Construction（建築）</a></li>
    <li><a href="/mining">Mining（鉱業）</a></li>
    <li><a href="/tradingCompany">Trading Company（商社）</a></li>
    <li><a href="/retail">Retail（小売業）</a></li>
    <li><a href="/securities">Securities（証券）</a></li>
    <li><a href="/food">Food（食品）</a></li>
    <li><a href="/fisheries">Fisheries（水産）</a></li>
    <li><a href="/equipment">Equipment（精密機械）</a></li>
    <li><a href="/oil">Oil（石油）</a></li>
    <li><a href="/fiber">Fiber（繊維）</a></li>
    <li><a href="/shipbuilding">Shipbuilding（造船）</a></li>
    <li><a href="/communication">Communication（通信）</a></li>
    <li><a href="/steel">Steel（鉄鋼）</a></li>
    <li><a href="/railway">Railway（鉄道・バス）</a></li>
    <li><a href="/electricalEquipment">ElectricalEquipment（電気機器）</a></li>
    <li><a href="/energy">Energy（電力）</a></li>
    <li><a href="/nonFerrous">Non Ferrous（非鉄・金属）</a></li>
    <li><a href="/realState">Real Estate（不動産）</a></li>
    <li><a href="/insurance">Insurance（保険）</a></li>
    <li><a href="/ceramics">Ceramics（窯業）</a></li>
    <li><a href="/landTransportation">Land Transportation（陸運）</a></li>
   </ul>
</body>
</html>