ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 7.5px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px){
 
}